*{margin: 0;
padding: 0;
}

body{
	background-color: #2C343B;
}


#blockImdb{
	width: 100%;
	margin: 2px;
}

#blockWiki{
	width: 100%;
	margin: 2px;
}

#blockDeleuze{
	width: 100%;
	margin: 2px;
}


.content1{
	width:40px; 
	height:60px;
	background-color:red;
	margin: 10px;
	display: inline-block;
	border-radius: 1px;
	opacity: 0.75;
	
}


.content2{
	width:40px; 
	height:60px;
	background-color:red;
	margin: 10px;
	display: inline-block;
	border-radius: 1px;
	opacity: 0.75;

}

.content3{

	width:40px; 
	height:60px;
	background-color:red;
	margin: 10px;
	display: inline-block;
	border-radius: 1px;
	opacity: 0.75;
	

}





